.todo_form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.todo_form input,
.todo_form button {
  background-color: var(--content_color);
  outline: none;
  border: none;
  padding: 15px 10px;
}

.todo_form input {
  border-radius: 5px;
  color: inherit;
  width: 100%;
}

.todo_form input::placeholder {
  color: #ccc;
}

.todo_form button {
  background: var(--gradient);
  color: #fff;
  height: 80%;
  display: grid;
  place-content: center;
  border-radius: 5px;
  position: absolute;
  right: 10px;
}

.todo_form button:hover {
  opacity: 0.9;
}
