.container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 620px) {
  .container {
    width: 90%;
  }
}
