.todo_item {
  background-color: var(--content_color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 10px;
  border-bottom: 1px solid #ccc;
}

.todo_item:last-child {
  border-bottom: none;
}

.todo_item p {
  max-width: 70%;
  overflow-x: hidden;
}

.completed_title {
  text-decoration: line-through;
  color: #ccc;
}

.todo_status {
  display: grid;
  place-content: center;
  width: 25px;
  height: 25px;
  border: #ccc 1px solid;
  border-radius: 20px;
  cursor: pointer;
  background: transparent;
  border: #ccc 1px solid;
}

.completed_todo {
  background: var(--gradient);
  border: none;
}

.btns button {
  padding: 3px;
  margin-left: 5px;
  height: 70%;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  font-size: 15px;
}

.deleteBtn {
  color: rgb(224, 78, 78) !important;
}

.editBtn {
  color: #fbbf24 !important;
}
