.todo_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.not_found {
  margin: 10px 0;
}

@media screen and (max-width: 480) {
  .todo_list {
    width: 90%;
  }
}
