.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header h1 {
  color: #fff;
  letter-spacing: 10px;
}

.mode_icon {
  color: #fff;
  font-size: 30px;
  border: none;
  background-color: transparent;
}
